.container {
  height: 95vh;
  border: blue double;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titleDiv {
  border: blue double;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
}

.mainDiv {
  border: blue double;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
  flex-wrap: nowrap;
}

.mainContainerDiv {
  height: 100%;
  border: blue double;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
}

.sideContainerDiv {
  border: blue double;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 20%;
  flex-direction: column;
}

.mainContent {
  border: blue double;
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
}

.mainContentTitle {
  border: blue double;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.tab {
  border: blue double;
  height: 5%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50%;
  cursor: pointer;
}

.todo {
  border: blue double;
  height: 20%;
  width: 20%;
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projectModal {
  position: absolute;
  margin: auto;
  width: 30%;
  height: 40%;
  border: 3px solid green;

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projectModalContent {
  border: 3px solid green;
  margin-top: 5%;
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
}

.projectModalTitle {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectModalInput {
  width: 50%;
  height: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.projectModalOptions {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-direction: row;
  height: 10%;
  width: 90%;
}

.projectOptions {
  border: blue double;
  height: 80%;
  display: flex;
  width: 20%;
  justify-content: center;
  align-items: center;
}

.topDiv {
  border: blue double;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  cursor: pointer;
  flex-direction: column;
  gap: 30%;
}

.bottomDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 10%;
  cursor: pointer;
}

.todoDisplay {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: blue double;
  height: 35%;
  width: 25%;
  flex-direction: column;
}
.todoTopDiv {
  border: blue double;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
  gap: 10%;
  flex-wrap: wrap;
}
.todoBotDiv {
  border: blue double;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 5%;
  cursor: pointer;
}

.todoModalDescriptionInput {
  height: 20%;
  text-align: justify;
}

.todoModalPriorityInput {
  height: 10%;
}

.todoModalSubmit {
  cursor: pointer;
}
